
    <!-- Footer -->
    <div class="footer" style="background-color: rgba(0, 255, 255, 0.1);" id="branches">
      <div class="container">
        <div class="cards-1">
          <div class="row">
            <div class="col-lg-12">
              <h2>Our Branches</h2>
              <p style="color: red">
                <b>
                  NEED CONTENT: ADDRESS and CONTACTS of branches to display here.
                </b>
              </p>
            </div>
          </div>
        </div>

          <div class="row">
              <div class="col-md-3">
                  <div class="footer-col">
                      <h4>Delhi</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Address:<br>
                              Demo address, city</div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">
                                Contact:
                                +91 9876543201 <br>
                                Email: demo@mail.com
                              </div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-3">
                  <div class="footer-col middle">
                      <h4>Uttar Pradesh</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Address:<br>
                              Demo address, city</div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">
                                Contact:
                                +91 9876543201 <br>
                                Email: demo@mail.com
                              </div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-3">
                  <div class="footer-col">
                      <h4>Maharashtra</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Address:<br>
                              Demo address, city</div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">
                                Contact:
                                +91 9876543201 <br>
                                Email: demo@mail.com
                              </div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-3">
                  <div class="footer-col">
                      <h4>Kerala</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Address:<br>
                              Demo address, city</div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">
                                Contact:
                                +91 9876543201 <br>
                                Email: demo@mail.com
                              </div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
          </div> <!-- end of row -->

          <br>
          <br>

          <div class="row">
              <div class="col-md-4">
                  <div class="footer-col">
                      <h4>About ITI Consultancy</h4>
                      <p>We're passionate about offering some of the best business growth services for ITIs startups</p>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-4">
                  <div class="footer-col middle">
                      <h4>Important Links</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a></div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Our <a class="turquoise" href="privacy-policy.html">Privacy Policy</a></div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-4">
                  <div class="footer-col last">
                      <h4>Social Media</h4>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-google-plus-g fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-instagram fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-linkedin-in fa-stack-1x"></i>
                          </a>
                      </span>
                  </div> 
              </div> <!-- end of col -->
          </div> <!-- end of row -->



      </div> <!-- end of container -->
  </div> <!-- end of footer -->  
  <!-- end of footer -->


  <!-- Copyright -->
  <div class="copyright" style="background-color: rgba(0, 0, 128, 1);">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="p-small" style="color: #fff;">Copyright © ITI Consultancy - Made with <i class="fas fa-heart"></i> for U</a></p>
              </div> <!-- end of col -->
          </div> <!-- enf of row -->
      </div> <!-- end of container -->
  </div> <!-- end of copyright --> 
  <!-- end of copyright -->
  
    
  <!-- Scripts -->
  <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
  <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
  <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>