<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Best ITI Consultancy Services in the market.">
    <meta name="author" content="ITI Consultancy">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="ITI Consultancy" /> <!-- website name -->
	<meta property="og:site" content="iticonsultancy.com" /> <!-- website link -->
	<meta property="og:title" content="ITI Consultancy"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="ITI Consultancy
Best In Market
Use our best in market services to start your new ITI and get solutions for your pre-existing ITIs like ITI Re-Affiliation and many more..." /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="logo/navbar-logo.png" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="iticonsultancy.com" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ITI Consultancy</title>
    

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    
	
	<!-- Favicon  -->
    <link rel="icon" href="logo/tab-logo.png">

</head>
<body data-spy="scroll" data-target=".fixed-top" style="padding-top: 90px;">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        
        <a class="navbar-brand logo-image mr-auto" href="/">
            <img src="logo/navbar-logo.png" alt="alternative">
        </a>
           

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div style="width: 100%;">
        <div class="row justify-content-center">
            <marquee behaviour="scroll" direction="left" style="margin: -5% 3% 1% 3%; color: #ff0000; font-size: 1.1rem; line-height: 2; id="content-desktop">
                <!-- ITI Consultancy (iticonsultancy.com) is the place where you will find best in class solutions for all your problems and queries at best prices. | आईटीआई कंसल्टेंसी (iticonsultancy.com) वह स्थान है जहाँ आपको अपनी सभी समस्याओं और प्रश्नों के लिए क्लास के समाधान सबसे अच्छे दामों में मिलेंगे। -->
                सत्र <span style="font-family: sans-serif;">2020</span> के लिए नई ITI के आवेदन <span style="font-family: Sans-Serif;">01/12/2019</span> से शुरू हो चुके हैं। आवेदन करने की अंतिम तारीख- <span style="font-family: Sans-Serif;">28/02/2020</span>, नए मानक - न्यूनतम जमीन- 1.07 Acre, न्यूनतम ट्रेड- 4 कोर्स, न्यूनतम यूनिट- 8, अधिक जानकारी के लिए हमारे हेल्पलाइन नंबर - <span style="font-family: Sans-Serif;">9654830103</span> पर संपर्क करें।
            </marquee>
        </div>

        <div class="row">
        <div class="collapse navbar-collapse text-center justify-content-center" id="navbarsExampleDefault" style="padding-top: 1%;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="body">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#aboutus">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#newsnupdates">News & Updates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#branches">Branches</a>
                </li>
                <li class="nav-item" style="background-color: rgba(0,100,255, 0.6); border: 1px solid black; border-radius: 14px;">
                    <a class="popup-with-move-anim nav-link" href="#contact-form-card">Enquiry Form</a>
                </li>
            </ul>
        </div>
        </div>
        </div>

        <a class="navbar-brand logo-image-2 ml-auto" id="content-desktop" href="/">
            <img src="logo/skill-india-logo-rect.jpg" alt="alternative">
        </a>


    </nav>

